@{
    ViewData["Title"] = "Hakkımızda";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <style>
        body {
            background-image: url("/image/Graduation_University_of_Oxford.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .content {
            text-align: center;
            color: white; 
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.6); 
            border-radius: 10px; 
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Hakkımızda</h1>
        <p> Biz, öğrencilerimize akademik mükemmellikle dolu, yenilikçi bir eğitim deneyimi sunmayı taahhüt ediyoruz. Misyonumuz, öğrencilerimizi sadece bilgi ve becerilerle değil, aynı zamanda etik değerlerle donatarak, onları geleceğin liderleri haline getirmektir.
            Vizyonumuz, eğitimde ve araştırmada öncü olmayı hedeflerken, toplumumuza ve dünyamıza olumlu bir etki yapma arzusunu yansıtır. Değerlerimiz, kalite, çeşitlilik, toplumsal sorumluluk ve inovasyon etrafında şekillenir. Her bir öğrencimizin potansiyelini keşfetmesine, öğrenme sürecinde desteklenmesine ve kişisel gelişimine önem veriyoruz.
            Üniversitemiz, köklü bir tarihe ve köklü bir geleneğe sahip olmasının yanı sıra, sürekli olarak değişen dünyada öğrencilerimizi hazırlamak için yenilikçi eğitim yaklaşımları benimsemektedir. Sınırların ötesinde düşünmeyi, problem çözme becerilerini geliştirmeyi ve küresel bir bakış açısına sahip olmayı teşvik ediyoruz.
            Bizimle birlikte, öğrencilerimiz kendi hedeflerine ulaşacakları bir yol bulurlar ve topluma katkıda bulunma konusunda ilham verici bir deneyim yaşarlar.Üniversitemiz, her bir öğrencisinin potansiyelini gerçekleştirmesi ve dünyaya olumlu bir etki yapması için bir platform sağlar.
        </p>
    </div>
</body>
</html>